body {
  font-family: Barlow, sans-serif;
}

.text-color-black {
  color: #0f0f10;
}

.row {
  display: flex;
}

.column-full {
  flex-basis: 100%;
}

.column-quarter {
  flex-basis: 25%;
}

.center {
  text-align: center;
}

.center-elem {
  padding-left: 1rem;
}

.background-light-grey {
  background-color: #f7f8fa;
}

.h-font-size-weight {
  font-size: 0.45rem;
  font-weight: 900;
}

.p-font-size {
  font-size: 0.3rem;
}

.img-size {
  height: 80%;
  width: 80%;
}

.icon-size {
  height: 15%;
  width: 15%;
}

.cont-margin {
  width: 80%;
  padding-bottom: 30px;
}

.font-size-weight {
  font-size: 0.8rem;
  font-weight: 900;
}

.row-padding {
  padding-left: 10%;
  padding-right: 10%;
}

.justify-content-center {
  justify-content: center;
}
