* {
  font-family: Avenir, sans-serif;
}

a {
  color: #737373;
  margin: 10px;
  text-decoration: none;
}

.add-height {
  height: 7rem;
}

.add-height-two {
  height: 340px;
}

.align-items-center {
  align-items: center;
}

.back-height {
  height: 350px;
}

.background-darkgrey {
  background-color: #525351;
}

.background-light-grey {
  background-color: #fafafa;
}

.blue-button {
  padding: 12px 40px;
  font-size: 0.9rem;
  border: none;
  background-color: #294464;
  color: #fdfdfd;
  border-radius: 0.2rem;
}

.blue-button-two {
  padding: 8px;
  font-size: 0.8rem;
  background-color: #294464;
  color: #fdfdfd;
  border-radius: 0.2rem;
}

.blue-logo {
  height: 20px;
  width: 100px;
}

.blue-logo-bigger {
  height: 40px;
  width: 120px;
}

.border-bottom-style {
  border-bottom: 1px;
  border-bottom-style: inset;
}

.border-top-style {
  border-top: 1px;
  border-top-style: inset;
  border-color: #f8f8f8;
}

.center {
  text-align: center;
}

.change-over {
  margin-top: 40px;
  margin-bottom: 45px;
}

.change-over-two {
  margin-top: 90px;
  margin-bottom: 45px;
}

.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.column-full {
  flex-basis: 100%;
}

.column-half {
  flex-basis: 50%;
}

.column-one-third {
  flex-basis: calc(100% / 3);
}

.column-two-third {
  flex-basis: calc(200% / 3);
}

.column-quarter {
  flex-basis: 25%;
}

.color-grey {
  color: #6e6e6e;
}

.display-flex {
  display: flex;
}

.font-small {
  font-size: 0.75rem;
}

.font-style {
  font-size: 1.4rem;
  font-family: "Tiempos Headline", sans-serif;
  font-weight: 400;
}

.font-height {
  font-size: 1.5rem;
  font-weight: lighter;
}

.height-adjust-one {
  align-items: center;
  padding-left: 6.5rem;
  padding-top: 1rem;
}

.height-adjust-six {
  height: 100px;
  align-items: center;
}

.height-add {
  height: 525px;
}

.height-add-two {
  height: 480px;
}

.hero {
  height: 400px;
  width: 800px;
  margin-top: 40px;
  margin-bottom: 40px;
  object-fit: cover;
}

.inline {
  display: inline;
}

.justify-content-space-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.line-height {
  line-height: 2rem;
}

.line-height-text {
  line-height: 1.3rem;
}

.line-height-text-two {
  line-height: 1.1rem;
}

.link-styling {
  font-size: 0.8rem;
  font-weight: bold;
}

.margin-bottom {
  margin-bottom: 10px;
}

.margin-bot {
  margin-bottom: 20px;
  padding-bottom: 1rem;
}

.margin-right {
  margin-right: 70px;
}

.move-one {
  position: absolute;
  top: 4rem;
  left: 4rem;
}

.move-two {
  position: absolute;
  bottom: 9rem;
  left: 4rem;
}

.move-three {
  position: absolute;
  bottom: 5rem;
  left: 3.5rem;
}

.move-four {
  position: absolute;
  top: 10rem;
  left: 2rem;
}

.move-five {
  position: absolute;
  bottom: 10rem;
  left: 2rem;
}

.move-six {
  position: absolute;
  bottom: 8rem;
  left: 3rem;
}

.move-seven {
  position: absolute;
  bottom: 15rem;
  left: 3rem;
}

.move-top {
  padding-top: 5px;
  margin-bottom: 5px;
}

.overlay {
  background: grey;
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.overlay-two {
  background: black;
  opacity: 0.25;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.margin-image {
  margin-top: 4rem;
  margin-left: 3rem;
}

.margin-image-two {
  margin-top: 5rem;
  margin-left: 3rem;
}

.padding-imp {
  padding-top: 3rem;
  padding-bottom: 2.5rem;
}

.padding-imp-two {
  padding-bottom: 1rem;
}

.padding-imp-three {
  padding-bottom: 8rem;
}

.pad-implement {
  padding-left: 22%;
}

.padding-row-two {
  padding-top: 5rem;
  padding-left: 8rem;
}

.padding-row-three {
  padding-top: 3rem;
  padding-left: 3rem;
}

.padding-row-three-three {
  padding-top: 4.5rem;
  padding-left: 2rem;
}

.padding-rowfive {
  padding-top: 5rem;
  padding-bottom: 6rem;
  padding-left: 4rem;
}

.padding-top {
  padding-top: 3rem;
}

.padding-left {
  padding-left: 2rem;
}

.padding-right {
  padding-right: 2rem;
}

.padrowthree {
  padding: 2rem;
}

.padding-section-one {
  padding-left: 6rem;
}

.pad-top-two {
  padding-top: 15px;
}

.parentsection {
  position: relative;
}

.product-hero {
  height: 400px;
  width: 800px;
  margin-top: 89px;
  margin-bottom: 40px;
  object-fit: cover;
}

.product-image-one {
  height: 425px;
  width: 400px;
}

.product-image-two {
  height: 350px;
  width: 400px;
}

.product-image-three {
  height: 300px;
  width: 390px;
}

.prodpadding-row-five {
  padding-left: 5rem;
  padding-top: 2rem;
}

.row {
  display: flex;
}

.row-width {
  width: 80%;
  margin-left: 10%;
}

.tiempo {
  font-family: "Tiempos Headline", sans-serif;
}

.title-font {
  font-size: 0.8rem;
}

.text-white {
  color: #ffff;
}

.text-grey {
  color: #b8b8b8;
}

.text-kinda-grey {
  color: #927e6b;
}

.text-kinda-black {
  color: #50514f;
}

.text-blue {
  color: #1f78bb;
}

.text-section-two-title {
  font-size: 1.8rem;
}

.text-italic-custom {
  font-family: "Tiempos Headline", sans-serif;
  font-style: italic;
  font-weight: lighter;
}

ul {
  list-style-type: none;
}

.white-logo {
  height: 20px;
  width: 100px;
}
