* {
  font-family: Avenir, sans-serif;
}

a {
  color: #737373;
  margin: 10px;
  text-decoration: none;
}

.add-height {
  height: 7rem;
}

.align-items-center {
  align-items: center;
}

.background-darkgrey {
  background-color: #525351;
}

.background-light-grey {
  background-color: #fafafa;
}

.blue-button {
  padding: 12px 40px;
  font-size: 0.9rem;
  border: none;
  background-color: #294464;
  color: #fdfdfd;
  border-radius: 0.2rem;
}

.blue-button-two {
  padding: 8px;
  font-size: 0.8rem;
  background-color: #294464;
  color: #fdfdfd;
  border-radius: 0.2rem;
}

.border-bottom-style {
  border-bottom: 1px groove lightgray;
}

.center {
  text-align: center;
}

.change-over {
  margin-top: 40px;
  margin-bottom: 45px;
}

.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.column-full {
  flex-basis: 100%;
}

.column-half {
  flex-basis: 50%;
}

.column-one-third {
  flex-basis: calc(100% / 3);
}

.column-two-third {
  flex-basis: calc(200% / 3);
}

.column-quarter {
  flex-basis: 25%;
}

.color-grey {
  color: #6e6e6e;
}

.display-flex {
  display: flex;
}

.font-small {
  font-size: 0.75rem;
}

.font-style {
  font-size: 1.4rem;
  font-family: "Tiempos Headline", sans-serif;
  font-weight: 400;
}

.height-adjust-one {
  align-items: center;
  padding-left: 6.5rem;
  padding-top: 1rem;
}

.height-adjust-six {
  height: 100px;
  align-items: center;
}

.hero {
  height: 400px;
  width: 800px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.inline {
  display: inline;
}

.justify-content-space-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.line-height {
  line-height: 2rem;
}

.line-height-text {
  line-height: 1.3rem;
}

.margin-bottom {
  margin-bottom: 10px;
}

.margin-bot {
  margin-bottom: 10px;
}

.margin-right {
  margin-right: 70px;
}

.move-one {
  position: absolute;
  top: 4rem;
  left: 4rem;
}

.move-two {
  position: absolute;
  bottom: 9rem;
  left: 4rem;
}

.move-three {
  position: absolute;
  bottom: 5rem;
  left: 3.5rem;
}

.move-top {
  padding-top: 5px;
  margin-bottom: 5px;
}

.overlay {
  background: linear-gradient(transparent, rgb(0 0 0/80%));
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.padding-rowfive {
  padding-top: 5rem;
  padding-bottom: 5rem;
  padding-left: 4rem;
}

.padding-top {
  padding-top: 3rem;
}

.padding-left {
  padding-left: 2rem;
}

.padding-right {
  padding-right: 2rem;
}

.padrowthree {
  padding: 2rem;
}

.padding-section-one {
  padding-left: 6rem;
}

.parentsection {
  position: relative;
}

.row {
  display: flex;
}

.tiempo {
  font-family: "Tiempos Headline", sans-serif;
}

.title-font {
  font-size: 0.8rem;
}

.text-white {
  color: #ffff;
}

.text-section-two-title {
  font-size: 1.8rem;
}

ul {
  list-style-type: none;
}

.white-logo {
  height: 20px;
  width: 100px;
}

.blue-logo {
  height: 20px;
  width: 100px;
}
